.overlay {
  height: 100%;
  min-height: 100%;
  // height: 300px;
  padding-bottom: 65px;
  background: #2d2d2d;
  filter: alpha(opacity = 90);
  background: rgba(45, 45, 45, 0.65);
  position: absolute;
  top: 0;
  width: 100%;
}

/* Header */
.large-header {
  position: relative;
  overflow: hidden;
  background-size: cover;
  z-index: 1;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.25;
  // margin-right: -15px;
  // margin-left: -15px;
  font-family: "Raleway", Calibri, Arial, sans-serif;
  /*background: #333 url('../images/demo-1-bg.jpg') center 0 no-repeat fixed;*/
  background: #333 url(../../assets/images/jGIGWOA.jpg) center 0 repeat fixed;
  height: 100vh;
}

.main-title {
  // position: absolute;
  // margin: 0;
  padding: 10px;
  color: #f9f1e9;
  text-align: center;
  // top: 50%;
  // left: 50%;
  // -webkit-transform: translate3d(-50%, -50%, 0);
  // transform: translate3d(-50%, -50%, 0);
  text-transform: uppercase;
  // font-size: 4.2em;
  letter-spacing: 0.1em;
  // margin: 0 auto;
  height: 100vh;
  padding-top: 50vh;

  @media only screen
  and (max-width: 479px) {
    font-size: 0.6em;
  }

  @media only screen
  and (min-width: 480px) {
    font-size: 1em;
  }
}

.typewriter {
  font-size: 1em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;

  @media only screen
  and (max-width: 479px) {
    font-size: 1.5em;
  }

  @media only screen
  and (min-width: 480px) {
    font-size: 3em;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.arrow-container {
  position: absolute;
  bottom: 0px;
  padding-bottom: 40px;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.arrow {
  border: solid #f9f1e9;
  border-width: 0 3px 3px 0;
  display: inline-block;
  color: #f9f1e9;
  @media only screen
  and (max-width: 479px) {
    padding: 5px;
  }

  @media only screen
  and (min-width: 480px) {
    padding: 10px;
  }
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}