.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */ }

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 39px;
  height: 60px;
  padding: 0px 0px;
  overflow: hidden; }

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999; }

.booksModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 25px;
  background-color: #ffffff;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.7);
  overflow: none; }
  .booksModal:focus {
    outline: none; }

.bookModalContent {
  width: 100%;
  height: 100%; }

.bookShelf {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px; }

.bookActions {
  margin-top: 10px;
  font-size: 13px;
  color: #444444;
  text-decoration: none; }

.books_link {
  padding: 10px; }

.books_link:hover {
  color: #6ac8c8;
  transform: scale(1.15);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
