.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 39px;
  height: 60px;
  padding: 0px 0px;
  overflow: hidden;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.booksModal {
  // top: "50%";
  // left: "50%";
  // right: "auto";
  // bottom: "auto";
  // margin-right: "-50%";
  // transform: "translate(-50%, -50%)";
  // width: "90%";
  // height: "90vh";
  // margin: 100px;
  // z-index: 999;
  // border-radius: 1px;
  // box-shadow: 2px 5px 20px rgba(0,0,0,0.20);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 25px;
  // background-color: #ffffff;
  background-color: #808e97;
  background-image: url('../../../assets/images/backgrounds/tiny_grid.png');
  background-attachment: fixed;
  // border: 1px solid #ccc;
  box-shadow: 2px 5px 20px rgba(0,0,0,0.70);
  // overflow: auto;
  overflow: none;
  &:focus {
    outline:none;
  }
}

.bookModalContent {
  // height: 90vh;
  // width: 90vw;
  // overflow: auto;
  // margin-bottom: 50px;
  width: 100%;
  height: 100%;
}

.bookShelf {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.bookActions {
  margin-top: 10px;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
}

.books_link {
  padding: 10px;
  // box-shadow: 2px 5px 20px rgba(0,0,0,0.20);
}

.books_link:hover {
  color: #6ac8c8;
  transform: scale(1.15);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
