.certification {
  text-align: center;
  padding-bottom: 20px;
}

.certification img {
  width: 150px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.certifications {
  margin-left: auto;
  margin-right: auto;
}