.certification {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px; }
  .certification img {
    width: 200px; }

.certifications {
  margin-left: auto;
  margin-right: auto; }
