.about {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0;
}

.title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -ms-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -o-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
}

.title h2 {
  color: #ffffff;
  display: inline-block;
  font-size: 36px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.title p {
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  position: relative;
  margin-top: 10px;
}

.inner-title {
  text-align: center;
  margin-top: 10px;
}
.inner-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.inner-title h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #2d2d2d;
  font-weight: bold;
}

.inner-title h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
  font-weight: bold;
}

.inner-title p {
  font-size: 14px;
  color: #999999;
}

.profile {
  position: relative;
}

.profile .ico {
  display: inline-block;
}

.profile .ico a {
  background: #2d2d2d;
  border: 10px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #ffffff;
  display: block;
  font-size: 19px;
  height: 60px;
  line-height: 45px;
  margin: 0 auto;
  width: 60px;
  text-align: center;
}

.profile .ico a:hover {
  background: #6ac8c8;
}

.img-profile:before {
  border-top: 1px solid #efefef;
  content: "";
  display: block;
  left: 50%;
  margin-left: 130px;
  position: absolute;
  top: 100px;
  width: 30%;
  z-index: 0;
}

.img-profile:after {
  border-top: 1px solid #efefef;
  content: "";
  display: block;
  margin-right: 130px;
  position: absolute;
  right: 50%;
  top: 100px;
  width: 30%;
  z-index: 0;
}

.img-profile {
  height: 200px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}

.img-profile img {
  height: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  // box-shadow: 0 1px 2px rgba(106,200,200,0.15);
  box-shadow: 2px 5px 20px rgba(0,0,0,0.20);
  -webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.img-profile img:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  // box-shadow: 0 5px 5px rgba(106,200,200,0.5);
  box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
  -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.dl-btn p,
.fol-btn p {
  color: #666666;
  text-align: center;
  display: block;
  font-size: 14px;
  margin: 0 -13px;
}

.dl-btn {
  z-index: 1;
  left: 10%;
  position: absolute;
  top: 32.5%;
}

.fol-btn {
  position: absolute;
  right: 10%;
  top: 32.5%;
}

.about-holder {
  text-align: center;
  border: 1px solid #efefef;
  padding-bottom: 20px;
  // margin-top: 20px;
  margin-bottom: 70px;
}

.info ul {
  padding: 0;
}

.info li {
  display: inline-block;
  width: 200px;
  position: relative;
}

.info ul li p a {
  color: #999999;
}

.info li .ico {
  background: #2d2d2d;
  border: 10px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  height: 60px;
  left: 50%;
  line-height: 46px;
  margin-left: -33px;
  position: absolute;
  top: 30px;
  width: 60px;
}

.info li .ico:hover {
  background: #6ac8c8;
  transition: .3s ease-in-out;
}