.title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -ms-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -o-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
}

.title h2 {
  color: #ffffff;
  display: inline-block;
  font-size: 36px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.title p {
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  position: relative;
  margin-top: 10px;
}

.inner-title {
  text-align: center;
  margin-top: 50px;
}
.inner-content {
  margin-top: 70px;
  margin-bottom: 100px;
}

.inner-title h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
  font-weight: bold;
}

.inner-title p {
  font-size: 14px;
  color: #999999;
}

.profile {
  position: relative;
}

.profile .ico {
  display: inline-block;
}

.profile .ico a {
  background: #2d2d2d;
  border: 10px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #ffffff;
  display: block;
  font-size: 19px;
  height: 60px;
  line-height: 45px;
  margin: 0 auto;
  width: 60px;
  text-align: center;
}

.profile .ico a:hover {
  background: #6ac8c8;
}

.img-profile:before {
  border-top: 1px solid #efefef;
  content: "";
  display: block;
  left: 50%;
  margin-left: 130px;
  position: absolute;
  top: 100px;
  width: 250px;
  z-index: 0;
}

.img-profile:after {
  border-top: 1px solid #efefef;
  content: "";
  display: block;
  margin-right: 130px;
  position: absolute;
  right: 50%;
  top: 100px;
  width: 250px;
  z-index: 0;
}

.img-profile {
  height: 200px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}

.img-profile img {
  height: 100%;
}

.dl-btn p,
.fol-btn p {
  color: #666666;
  text-align: center;
  display: block;
  font-size: 14px;
  margin: 0 -13px;
}

.dl-btn {
  left: 17.2%;
  position: absolute;
  top: 32.5%;
}

.fol-btn {
  position: absolute;
  right: 10%;
  top: 32.5%;
}
