.contact-holder {
  text-align: center;
  border: 1px solid #efefef;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 70px; }

.address {
  position: relative; }

.address i {
  background: none repeat scroll 0 0 #2d2d2d;
  border: 10px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  /* background-clip: padding-box; */
  color: #ffffff;
  display: inline-block;
  font-size: 29px;
  height: 65px;
  left: 50%;
  line-height: 45px;
  margin-left: -33px;
  position: absolute;
  top: -57px;
  width: 65px !important; }

.address p {
  font-size: 14px;
  color: #999999;
  padding: 10px; }

.info ul {
  padding: 0; }

.info li {
  display: inline-block;
  width: 200px;
  position: relative; }

.info li .ico {
  background: #2d2d2d;
  border: 10px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  height: 60px;
  left: 50%;
  line-height: 46px;
  margin-left: -33px;
  position: absolute;
  top: 30px;
  width: 60px; }

.contact {
  margin-bottom: 40px; }

.form-btn:hover {
  background: #2d2d2d;
  color: #999999; }

.form-control {
  border-radius: 0; }

.btnSend {
  color: #fff;
  background-color: #ffbe00;
  border-color: #ffbe00; }

.btnSend:hover {
  color: #fff;
  background-color: #f5b200;
  border-color: #f5b200; }

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0; }
