/* .particles-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.particles-container canvas {
    display: block;
    width: 100%;
    height: 100%;
} */


.particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.particles-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.particles-content * {
    pointer-events: auto;
}