@font-face {
  font-family: 'socicon';
  src: url('../../../assets/fonts/socicon-webfont.eot');
  src: url('../../../assets/fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/socicon-webfont.woff') format('woff'),
  url('../../../assets/fonts/socicon-webfont.ttf') format('truetype'),
  url('../../../assets/fonts/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.saucisson {
  font-family: 'socicon' !important;
}

.no-underline,
.no-underline:hover,
.no-underline:focus{
  text-decoration: none;
}