.p15 {
  padding: 15px;
}

/*
 * SERIOUS BUSINESS
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -ms-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -o-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
}

.title h2 {
  color: #ffffff;
  display: inline-block;
  font-size: 36px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.title p {
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  position: relative;
  margin-top: 10px;
}

.about .title {
  background: #6ac8c8;
}
.skills .title {
  background: #92c14d;
}
.resume .title {
  background: #f97c39;
}
.contact .title {
  background: #ffbe00;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.inner-title {
  text-align: center;
  margin-top: 50px;
}
.inner-content {
  margin-top: 70px;
  margin-bottom: 100px;
}

.inner-title h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
  font-weight: bold;
}

.inner-title p {
  font-size: 14px;
  color: #999999;
}

.profile {
  position: relative;
}

.profile .ico {
  display: inline-block;
}

.profile .ico a {
  background: #2d2d2d;
  border: 10px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #ffffff;
  display: block;
  font-size: 19px;
  height: 60px;
  line-height: 45px;
  margin: 0 auto;
  width: 60px;
  text-align: center;
}

.profile .ico a:hover {
  background: #6ac8c8;
}

.img-profile:before {
  border-top: 1px solid #efefef;
  content: "";
  display: block;
  left: 50%;
  margin-left: 130px;
  position: absolute;
  top: 100px;
  width: 250px;
  z-index: 0;
}

.img-profile:after {
  border-top: 1px solid #efefef;
  content: "";
  display: block;
  margin-right: 130px;
  position: absolute;
  right: 50%;
  top: 100px;
  width: 250px;
  z-index: 0;
}

.img-profile {
  height: 200px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}

.img-profile img {
  height: 100%;
}

.dl-btn p,
.fol-btn p {
  color: #666666;
  text-align: center;
  display: block;
  font-size: 14px;
  margin: 0 -13px;
}

.dl-btn {
  left: 17.2%;
  position: absolute;
  top: 32.5%;
}

.fol-btn {
  position: absolute;
  right: 10%;
  top: 32.5%;
}

.divider {
  margin: 50px auto 0;
  position: relative;
  text-align: center;
  width: 600px;
}

.divider span:before {
  border-bottom: 1px dashed #efefef;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 0;
}

.contact-holder {
  text-align: center;
  border: 1px solid #efefef;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.address {
  position: relative;
}

.address i {
  background: none repeat scroll 0 0 #2d2d2d;
  border: 10px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  /* background-clip: padding-box; */
  color: #ffffff;
  display: inline-block;
  font-size: 29px;
  height: 65px;
  left: 50%;
  line-height: 45px;
  margin-left: -33px;
  position: absolute;
  top: -57px;
  width: 65px !important;
}

.address p {
  font-size: 14px;
  color: #999999;
  padding: 10px;
}

.info ul {
  padding: 0;
}

.info li {
  display: inline-block;
  width: 200px;
  position: relative;
}

.resume .row {
  margin-bottom: 50px;
}

.info li .ico {
  background: #2d2d2d;
  border: 10px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  height: 60px;
  left: 50%;
  line-height: 46px;
  margin-left: -33px;
  position: absolute;
  top: 30px;
  width: 60px;
}

.work-item {
  border-left: 1px solid #efefef;
  padding-left: 30px;
  position: relative;
}

.work-ico {
  background: #2d2d2d;
  border: 5px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  background-clip: padding-box;
  color: #ffffff;
  display: inline-block;
  height: 36px;
  left: -4%;
  line-height: 28px;
  margin-top: -22px;
  position: absolute;
  text-align: center;
  top: 80px;
  width: 36px;
}

.work-desc h6 {
  color: #666666;
  font-size: 11px;
  margin-bottom: 5px;
}
.work-desc p {
  color: #999999;
  font-size: 13px;
}

.form-btn {
  background: #2d2d2d;
  color: #ffffff;
  display: block;
  font-size: 14px;
  height: 45px;
  text-transform: uppercase;
  width: 80px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  float: right;
}

.form-btn:hover {
  background: #2d2d2d;
  color: #999999;
}

.contact {
  margin-bottom: 40px;
}

.form-control {
  border-radius: 0;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  z-index: 100;
}

#toTopHover {
  display: block;
  overflow: hidden;
  float: left;
}

.from-content {
  position: relative;
}

.spinner-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.6);
  display: none;
}

.spinner {
  margin: 200px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.ico > a {
  color: #ffffff;
  text-decoration: none;
}

p > a {
  color: #000;
  text-decoration: none;
}

@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/*
 * MEDIA QUERIES
 */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .quotes {
    width: 60%;
  }
  .container {
    max-width: 730px;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
  .quotes {
    width: 70%;
  }

  .content {
    width: 700px;
  }
  .dl-btn {
    left: 5%;
  }

  .fol-btn {
    right: -5%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .quotes {
    width: 80%;
  }

  .quotes {
    width: 80%;
  }

  .content {
    width: 400px;
  }
  .divider {
    width: 375px;
  }

  .dl-btn {
    left: -30%;
  }

  .fol-btn {
    right: -45%;
  }

  .info li .ico {
    top: -70px;
  }

  .info ul {
    margin-top: 50px;
    padding: 0;
  }

  .info li {
    height: 100px;
  }
  .info li:last-child {
    height: 50px;
  }
}

@media only screen and (max-width: 479px) {
  /*header{
      display:none;
  }*/
  .quotes {
    width: 95%;
  }
  .content {
    width: 100%;
  }

  .main-title {
    font-size: 3em;
  }

  .divider {
    width: 100%;
  }

  .img-profile:before,
  .img-profile:after {
    display: none;
  }

  .profile {
    margin-bottom: 100px;
    margin-top: 150px;
  }

  .dl-btn {
    left: 22%;
    top: 107.5%;
  }

  .fol-btn {
    right: 12%;
    top: -50.5%;
  }

  .info ul {
    margin-top: 50px;
    padding: 50px;
  }

  .info li {
    height: 100px;
    width: 185px;
  }

  .info li .ico {
    top: -70px;
  }

  .info li:last-child {
    height: 50px;
  }
}

@media (max-width: 767px) {
  .main-title {
    font-size: 2em;
  }
}
