.travel .title {
  background: #92c14d;
}

// .travel {
//   margin-bottom: 40px;
// }

.travel .travelMap {
  width: '100%';
  margin: '0 auto';
  margin-top: 20px;
}

.countryTooltip {
  position: absolute;
  padding: 2px 5px;
  background: #1E2D24;
  border-radius: 3px;
  color: antiquewhite;
}